<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Your New Word</h5>
            <p><strong>Word</strong>: {{randomWord.text}}</p>
            <p><strong>Definition:</strong> {{randomWord.definition}}</p>
            <p><strong>Etymology:</strong> {{randomWord.etymology}}</p>
            <p><strong>Pronunciation:</strong> {{randomWord.pronunciation}}</p>
            <button id="save-new-word" class="btn btn-secondary btn-float-right">Save This Word</button>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>