*{
	margin:0;
	Padding: 0;
	box-sizing: border-box;
}

body {
  /* background-color : #778198;  */
  background-color: #FCA561; 
  color: #1D261D; 
  width: 100%;
  margin: 0 auto;
  height: auto; 
  /* position: static; 
  font-family: 'Jockey One', sans-serif;
  background-image: url("../images/bananas.png") */ 
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.navbar {
  /* background-color: #596172;  */
  /* background-color: #E1ED8F;  */
  background-color: #FFB257; 
}

.navbar-brand{
  font-family: 'Bangers', cursive; 
  font-size: 40px; 
}

/* 
.header{
  width: 70%; 
  margin-top: 20px; 
  margin-left: 175px; 
  align-items: center; 
  display: inline-block;
  background-color: #676B6F; 
  color: #ffffff; 
  font-size: 85px;
  font-weight: bold; 
} 
*/ 

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* .container{
  width: 100%; 
  margin: 0 auto; 
  margin-top: 10px; 
} */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.jumbotron { 
  /* background-color: #9DCBED; */ 
  /* background-color: #656E8F;  */
  /* height: 100vh; */
  height: 300px; 
  width: 100vh; 
  background-color: #F8CC6C; 
  font-family: 'Bangers', cursive; 
  width: 100%; 
}

#date{
  text-align: center;  
  font-size: 40px; 
}

.display-4{
  text-align: center;   
  font-size: 100px; 
  font-weight: 800; 
  /* font-family: 'Carter One', cursive; */ 
}

#random-word{
  font-family: 'Viga', sans-serif; 

}

.row{
  margin-top: 10px; 
  margin-bottom: 20px; 
  background-color: #E5794D; 
  /* background-color: #A7ED84;  */
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.word{
  font-size: 50px; 
  font-weight: bold; 
}

.word-section{
  /* background-color: #818CA5;*/
  /* background-color: #A7ED84;  */
  background-color: #E5794D; 

  /* font-family: 'Viga', sans-serif;  */
  font-family: 'Bree Serif', serif;
  /* font-family: 'Passion One', cursive; */

  font-size: 22px; 
  padding: 10px 0; 
  padding-left: -10px; 
}

.clearfix{
  margin-left: -50px; 
}

.form-group{
  padding: 5px; 
}

.titles{ 
  margin-bottom: 5px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#comment-form{ 
  background-color: #818CA5; 
  text-align: center; 
  font-family: 'Viga', sans-serif;
  font-size: 24px; 
  padding: 10px; 
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer{ 
  position: relative; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  width: 100%;
  height: 35px;
  font-size: 12px;
  /* background-color: #E1A857; */
  background-color: #38B195; 
  color: black;
  text-align: center;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* .list-group-item{
  background-color: #ffffff; 
  font-size: 12px; */
  /* padding: 5px; 
  margin: 5px;  */
  /* border: 0px;
  width: 100%;
  height: 2em;
}  */

/* .btn-danger{
  height: 10px; 
  width: 10px; 
} */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.card-body{

  /* background-color: #206555;  */
  background-color: #02654D; 
  background-color: #4E7E73; 
  font-size: 12px; 
  /* font-family: Verdana, Geneva, Tahoma, sans-serif;  */
  /*font-family: 'Viga', sans-serif; */ 
  font-family: 'Courier New', Courier, monospace; 
  padding: 10px; 
  margin-bottom: 10px; 
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-family: 'Viga', sans-serif;
font-family: 'Amaranth', sans-serif; 
font-family: 'Bree Serif', serif;
font-family: 'Gentium Basic', serif;
font-family: 'Lobster', cursive;
font-family: 'Passion One', cursive;
font-family: 'Vidaloka', serif; */